<header>
  <mat-toolbar color="primary" class="relative flex justify-between items-center px-4 pr-64"
               style="background-color: white;">
    <div class="flex items-center">
      <button (click)="onToggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <nav class="flex space-x-4 ml-4">
        <span *ngIf="activeRoute === '/common/dashboard'">Dashboard</span>
        <span *ngIf="activeRoute === '/common/appointment'">Appointments</span>
        <span *ngIf="activeRoute === '/common/doctor'">Doctors</span>
        <span *ngIf="activeRoute === '/common/patient'">Patients</span>
        <span *ngIf="activeRoute === '/common/report'">Reports</span>
        <span *ngIf="activeRoute === '/common/settings'">Settings</span>
      </nav>
    </div>

    <!-- Hello remains visible beside sidebar -->
    <div class="flex">hello</div>
  </mat-toolbar>
</header>
