mat-toolbar span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fit-name {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 150px; 
    display: block; 
    font-size: medium;
}

.avatar {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border-radius: 50%; /* Makes it circular */
  background-color: #27CD0D;
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px; /* Adjust font size as needed */
  text-transform: uppercase; /* Ensures initials are uppercase */
}
