mat-toolbar span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fit-name {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 150px; 
    display: block; 
    font-size: medium;
}
