<header>
  <mat-toolbar color="primary" style="background-color: white;">
    <!-- Left side (existing code) -->
    <button (click)="onToggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <nav>
      <span *ngIf="activeRoute === '/common/dashboard'">Dashboard</span>
      <span *ngIf="activeRoute === '/common/profile'">Profile</span>
      <span *ngIf="activeRoute === '/common/accounts'">Accounts</span>
      <span *ngIf="activeRoute === '/common/appointment'">Appointments</span>
      <span *ngIf="activeRoute === '/common/doctor'">Doctors</span>
      <span *ngIf="activeRoute === '/common/patient'">Patients</span>
      <span *ngIf="activeRoute === '/common/report'">Reports</span>
      <span *ngIf="activeRoute === '/common/settings'">Settings</span>
    </nav>

    <!-- Right side (added elements) -->
    <div class="flex items-center ml-auto space-x-6">
      <!-- Time (can be dynamic with Angular if needed) -->
      <span>{{ currentTime }}</span>

      <!-- Notification icon (assuming you have an icon for notifications) -->
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>


      <!-- Account icon (assuming an account icon here) -->
      <div class="relative" #profileMenuContainer>
        <button class="avatar" mat-icon-button (click)="toggleProfileMenu()">
            {{ currentUser?.firstName?.charAt(0) + currentUser?.lastName?.charAt(0) }}
        </button>

        <!-- Dropdown Menu -->
        <div *ngIf="isProfileMenuOpen"
             class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg z-50">

          <div class="px-4 py-2 border-b">
            <p class="font-medium text-gray-800 fit-name">{{ currentUser?.firstName + ' ' + currentUser?.lastName }}</p>
            <p class="text-sm text-lime-600">{{ mainRole }}</p>
          </div>

          <ul class="py-2">
            <li>
              <button (click)="navigateTo('/common/profile')"
                      class="w-full text-left px-4 py-2 hover:bg-gray-100 text-sm text-gray-700">
                My Profile
              </button>
            </li>
            <li>
              <button (click)="navigateTo('/common/settings')"
                      class="w-full text-left px-4 py-2 hover:bg-gray-100 text-sm text-gray-700">
                Settings
              </button>
            </li>
            <li>
              <button (click)="navigateTo('')"
                      class="w-full text-left px-4 py-2 hover:bg-gray-100 text-sm text-gray-700">
                Change Password
              </button>
            </li>
          </ul>

          <div class="border-t">
            <button (click)="onLogout()" class="w-full text-left px-4 py-2 hover:bg-gray-100 text-sm text-red-600">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
