<!-- Room add-room -->
<div class="p-6 w-full rounded-lg overflow-hidden">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">

    <div class="px-6 py-4">
      <h3 class="text-gray-800 text-xl font-bold sm:text-2xl">Add Room</h3>
    </div>

    <form #formRef="ngForm" (ngSubmit)="saveRoom(formRef)">

      <!-- field -->
      <div class="mb-2 px-6">
        <label class="block text-gray-700 py-2">Room Type</label>
        <input
          type="text"
          class="w-full px-3 py-2 border rounded-lg"
          [(ngModel)]="roomItem.roomType"
          name="roomType"
          #firstNameRef="ngModel"
          required
          [ngClass]="{
            'border-red-500': firstNameRef.invalid && firstNameRef.touched
          }"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="firstNameRef.invalid && firstNameRef.touched">
          Room Type is required.
        </p>
      </div>

      <!-- field -->
      <div class="mb-2 px-6">
        <label class="block text-gray-700 py-2">Description</label>
        <input
          type="text"
          class="w-full px-3 py-2 border rounded-lg"
          [(ngModel)]="roomItem.roomDescription"
          name="roomDescription"
          #firstNameRef="ngModel"
          required
          [ngClass]="{
            'border-red-500': firstNameRef.invalid && firstNameRef.touched
          }"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="firstNameRef.invalid && firstNameRef.touched">
          Description is required.
        </p>
      </div>

      <!-- field -->
      <div class="mb-2 px-6">
        <label class="block text-gray-700 py-2">Capacity</label>
        <input
          type="number"
          class="w-full px-3 py-2 border rounded-lg"
          [(ngModel)]="roomItem.roomCapacity"
          name="roomCapacity"
          #firstNameRef="ngModel"
          required
          [ngClass]="{
            'border-red-500': firstNameRef.invalid && firstNameRef.touched
          }"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="firstNameRef.invalid && firstNameRef.touched">
          Capacity is required.
        </p>
      </div>

      <!-- field -->
      <div class="mb-2 px-6">
        <label class="block text-gray-700 py-2">Charge</label>
        <input
          type="number"
          class="w-full px-3 py-2 border rounded-lg"
          [(ngModel)]="roomItem.roomCharge"
          name="roomCharge"
          #firstNameRef="ngModel"
          required
          [ngClass]="{
            'border-red-500': firstNameRef.invalid && firstNameRef.touched
          }"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="firstNameRef.invalid && firstNameRef.touched">
          Charge is required.
        </p>
      </div>

      <!-- Actions -->
      <div class="flex justify-end space-x-2 px-6 py-4 border-b">
        <button
          type="button"
          class="bg-gray-400 text-white px-4 py-2 rounded"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Save
        </button>
      </div>

    </form>

  </div>
</div>

