<app-page-template>
  <!-- Card Header -->
  <div class='flex items-center justify-between md:flex-row' page-header>
    <div class='flex items-center'>
      <!-- Patient Selector -->
      <mat-form-field class='w-auto' appearance='fill'>
        <mat-label>Select Patient</mat-label>
        <mat-select [(ngModel)]='selectedPatientId' (selectionChange)='onPatientChange()'>
          <mat-option *ngFor='let patient of patients' [value]='patient.patientId'>
            {{ patient.firstName }} {{ patient.lastName }} (ID: {{ patient.patientId }})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color='primary' (click)='addPatientRecord()' *ngIf='selectedPatientId' class='ml-4'>
        Add Patient Record
      </button>
    </div>
    <!-- Search Bar -->
    <div class='relative w-64'>
      <input
        type='text'
        placeholder='Search...'
        class='px-4 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
        [(ngModel)]='searchTerm'
        (keyup)='applyFilter()'
      />
      <svg xmlns='http://www.w3.org/2000/svg' class='absolute right-3 top-2.5 text-gray-400' width='16' height='16'
           fill='none' viewBox='0 0 24 24' stroke='currentColor'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
              d='M11 4a7 7 0 110 14 7 7 0 010-14zm0 0v3m0 4v6'></path>
      </svg>
    </div>
  </div>
  <!-- Mat Table -->
  <div class='' page-body>
    <table mat-table [dataSource]='dataSource' class='w-full table-auto text-sm text-left border border-gray-200'
           *ngIf='dataSource.data.length > 0'>
      <!-- Patient Record ID Column -->
      <ng-container matColumnDef='patientRecordId'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Patient Record ID</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200 text-gray-600 font-medium'> {{ element.patientRecordId }}
        </td>
      </ng-container>
      <!-- Visit Date Column -->
      <ng-container matColumnDef='visitDate'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Visit Date</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200 text-gray-600 font-medium'> {{ element.visiteDate }}
        </td>
      </ng-container>
      <!-- Diagnosis Column -->
      <ng-container matColumnDef='diagnosis'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Diagnosis</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200 text-gray-600 font-medium'> {{ element.diagnosis }}
        </td>
      </ng-container>
      <!-- Prescription Column -->
      <ng-container matColumnDef='prescription'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Prescription</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200 text-gray-600 font-medium'> {{ element.prescription }}
        </td>
      </ng-container>
      <!-- Note Column -->
      <ng-container matColumnDef='note'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Note</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200 text-gray-600 font-medium'> {{ element.note }}
        </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef='actions'>
        <th mat-header-cell *matHeaderCellDef class='py-3 px-6 border-b -200 text-gray-600 font-bold'> Action</th>
        <td mat-cell *matCellDef='let element'
            class='py-4 px-6 border-b border-gray-200'>
          <button (click)='viewPatientRecordDetails(element)'
                  class='text-blue-600 hover:text-blue-500 duration-150 cursor-pointer'>
            <i class='fas fa-eye w-5 h-5'></i>
          </button>
          <button (click)='editPatientRecord(element)'
                  class='text-blue-600 hover:text-blue-500 duration-150 cursor-pointer ml-2'>
            <i class='fas fa-edit w-5 h-5'></i>
          </button>
          <button (click)='deletePatientRecord(element)'
                  class='text-red-600 hover:text-red-500 duration-150 cursor-pointer ml-2'>
            <i class='fas fa-trash w-5 h-5'></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns' class='bg-gray-50'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns;' class='hover:bg-gray-50 transition'></tr>
    </table>
    <p *ngIf='dataSource.data.length === 0' class='text-gray-500 mt-4 p-6'>
      No patient records for the selected patient.
    </p>
    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons></mat-paginator>
  </div>
</app-page-template>
