<!-- Room Table -->
<div class="p-6 w-full rounded-lg overflow-hidden">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <!-- Card Header -->
    <div class="px-6 py-4 border-b">
      <div class="flex items-center justify-between md:flex-row">
        <div class="max-w-lg">
          <button
            routerLink="/common/room/add"
            class="bg-blue-500 text-white px-4 py-2 rounded"
          >
            <i class="fa-solid fa-plus"></i> Add Room
          </button>
<!--          <button-->
<!--            routerLink="/common/room/details"-->
<!--            class="bg-blue-500 text-white px-4 py-2 rounded"-->
<!--          >-->
<!--            <i class="fa-solid fa-plus"></i> Details Room-->
<!--          </button>-->
        </div>
        <!-- Search Bar -->
        <div class="relative w-64">
          <input
            type="text"
            placeholder="Search..."
            class="px-4 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            [(ngModel)]="searchTerm"
            (keyup)="applyFilter()"
          />
          <svg xmlns="http://www.w3.org/2000/svg" class="absolute right-3 top-2.5 text-gray-400" width="16" height="16"
               fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M11 4a7 7 0 110 14 7 7 0 010-14zm0 0v3m0 4v6"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Mat Table -->
    <div class="">
      <table mat-table [dataSource]="dataSource" class="w-full table-auto text-sm text-left border border-gray-200">

        <ng-container matColumnDef="roomId">
          <th *matHeaderCellDef class="py-3 px-6 border-b -200 text-gray-600 font-bold"> Room ID</th>
          <td *matCellDef="let element"
              class="py-4 px-6 border-b border-gray-200 text-gray-600 font-medium"> {{ element.roomId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="roomType">
          <th *matHeaderCellDef class="py-3 px-6 border-b -200 text-gray-600 font-bold"> Type</th>
          <td *matCellDef="let element"
              class="py-4 px-6 border-b border-gray-200 text-gray-600 font-medium"> {{ element.roomType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="roomCapacity">
          <th *matHeaderCellDef class="py-3 px-6 border-b -200 text-gray-600 font-bold"> Available Bed</th>
          <td *matCellDef="let element"
              class="py-4 px-6 border-b border-gray-200 text-gray-600 font-medium"> {{ element.roomCapacity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="roomCharge">
          <th *matHeaderCellDef class="py-3 px-6 border-b -200 text-gray-600 font-bold"> Charge</th>
          <td *matCellDef="let element"
              class="py-4 px-6 border-b border-gray-200 text-gray-600 font-medium"> {{ element.roomCharge }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="py-3 px-6 border-b text-gray-600 font-bold">
            Status
          </th>
          <td *matCellDef="let element" class="py-4 px-6 border-b border-gray-200 font-medium">
            <span
              [ngClass]="
                (element.status === 'INACTIVE') ? 'bg-red-500 text-white px-3 py-1 rounded text-xs' :
                (element.status === 'ACTIVE') ? 'bg-green-500 text-white px-3 py-1 rounded text-xs' :
                ''
              "
            >
              {{ element.status }}
            </span>
          </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="py-3 px-6 border-b -200 text-gray-600 font-bold"> Action</th>
          <td *matCellDef="let element" class="py-4 px-6 border-b border-gray-200">
            <div class="flex justify-start space-x-2">
              <a href="javascript:void(0)" (click)="editRoom(element.roomId)"
                 class="text-blue-600 hover:text-blue-500 duration-150">
                <i class="fas fa-edit w-5 h-5"></i>
              </a>
              <a href="javascript:void(0)" (click)="deleteRoom(element.roomId)"
                 class="text-red-600 hover:text-red-500 duration-150">
                <i class="fas fa-trash w-5 h-5"></i>
              </a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-50"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50 transition"></tr>
      </table>

      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
