<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="profile" routerLinkActive="active" class="profile-link"><i class="fas fa-user icon"></i> Profile</a>
        <a mat-list-item routerLink="profile" routerLinkActive="active" class="dashboard-link"><i class="fa-solid fa-chess-board"></i> Dashboard</a>
        <a mat-list-item routerLink="patient" routerLinkActive="active" class="patient-link"><i class="fa-solid fa-hospital-user"></i> Patient</a>
      </mat-nav-list>
    </mat-drawer>
    
    <div class="example-sidenav-content">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-sidenav-content class="page-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-drawer-container>




  
  