<h2 mat-dialog-title class="title">Add Patient</h2>
<mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="profile.firstName" name="firstName" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="profile.lastName" name="lastName" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Date of Birth</mat-label>
      <input [(ngModel)]="profile.dateOfBirth" name="birthday" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="profile.contactNumber" name="phone" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="profile.address" name="address" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="profile.gender" name="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="save()">Save</button>
</mat-dialog-actions>
