<div class="center">
    <mat-card appearance="outlined" class="card"> 
        <mat-card-content class="card-content">
                <div class="signup-image">
                    <img src="\assets\logo\SignupIcon.svg" class="sucess-logo" alt="Sign up"/>
                </div>
                <p class="text-center text-2xl pt-10">Registration Successful</p>
                <p class="text-center font-normal text-sm mt-5">Thank you for registering! We’re reviewing your 
                    details and will send you an <br> email once your account is approved. Please allow up to 24 
                    hours for verification.</p>

                <button mat-stroked-button color="blue" class="signin-button" routerLink="/login">
                    Go to Sign In   
                </button>    
        </mat-card-content>          
    </mat-card>
</div>