<app-dashboard-item>
  <!-- Icon -->
  <div class="w-10 h-10 bg-purple-50 rounded-lg flex items-center justify-center" icon>
    <img src="assets/Icons/icon_links.svg" alt="Earnings Icon" class="w-6 h-6"/>
  </div>
  <!-- Title -->
  <div title>Quick Links</div>
  <!-- Quick Links -->
  <div class="flex justify-between items-center mt-1">
    <button
      routerLink="/common/patient/add"
      class="add-button text-white px-4 py-2 rounded text-sm"
    >
      <i class="fa-solid fa-plus"></i> Add New Patient
    </button>
  </div>

</app-dashboard-item>
