<div class="parent">

  <button mat-flat-button routerLink="/common/accounts/register" class="button">
    <i class="fa-solid fa-plus"></i> Add Account
  </button>

    <div class="page-content">
      <h1 class="title">Accounts Management</h1>
      <table class="table" mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"
          [ngClass]="{
            'nurse': element.role === 'Nurse',
            'admin': element.role === 'Admin',
            'doctor': element.role === 'Doctor',
            'receptionist': element.role === 'Receptionist',
            'billing-staff': element.role === 'Billing Staff'}">
          {{element.role}}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="icon-wrapper" aria-label="Edit" (click)="openEditDialog(element)">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a class="icon-wrapper2" aria-label="Edit">
              <i class="fa-solid fa-trash fa-3x"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[7, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    </div>
