<div class="mx-6">
  <div class="flex flex-row gap-5 justify-center my-5">
    <!--Earnings-->
    <div class="bg-white px-6 py-5 rounded-xl shadow-md flex items-start w-72">
      <div class="flex flex-col flex-grow">
        <!-- Icon -->
        <div class="w-10 h-10 bg-blue-50 rounded-lg flex items-center justify-center">
          <img src="assets/Icons/icon_earnings.svg" alt="Earnings Icon" class="w-6 h-6"/>
        </div>
        <!-- Title -->
        <p class="text-gray-500 text-md my-5">Earnings</p>
        <!-- Amount & Growth -->
        <div class="flex justify-between items-center mt-1">
          <h2 class="text-4xl">₱23,425</h2>
          <div class="flex items-center text-green-500 text-sm font-medium">
            <span class="text-md">&#9650;</span> <!-- Up Arrow -->
            <span class="ml-1">+201</span>
          </div>
        </div>
      </div>
    </div>

    <!--  New Patient-->
    <div class="bg-white px-6 py-5 rounded-xl shadow-md flex items-start w-72">
      <div class="flex flex-col flex-grow">
        <!-- Icon -->
        <div class="w-10 h-10 bg-orange-50 rounded-lg flex items-center justify-center">
          <img src="assets/Icons/icon_newpatient.svg" alt="Earnings Icon" class="w-6 h-6"/>
        </div>
        <!-- Title -->
        <p class="text-gray-500 text-sm my-5">New Patient</p>
        <!-- Amount & Growth -->
        <div class="flex justify-between items-center mt-1">
          <h2 class="text-4xl">{{ tableItems.length }}</h2>
          <div class="flex items-center text-green-500 text-sm font-medium">
            <span class="text-md">&#9650;</span> <!-- Up Arrow -->
            <span class="ml-1">+83</span>
          </div>
        </div>
      </div>
    </div>

    <!--  New Appointment-->
    <div class="bg-white px-6 py-5 rounded-xl shadow-md flex items-start w-72">
      <div class="flex flex-col flex-grow">
        <!-- Icon -->
        <div class="w-10 h-10 bg-green-50 rounded-lg flex items-center justify-center">
          <img src="assets/Icons/icon_newappointment.svg" alt="Earnings Icon" class="w-6 h-6"/>
        </div>
        <!-- Title -->
        <p class="text-gray-500 text-sm my-5">New Appointment</p>
        <!-- Amount & Growth -->
        <div class="flex justify-between items-center mt-1">
          <h2 class="text-4xl">153</h2>
          <div class="flex items-center text-green-500 text-sm font-medium">
            <span class="text-md">&#9650;</span> <!-- Up Arrow -->
            <span class="ml-1">+51</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-patientvisit></app-patientvisit>
  <app-patientdata></app-patientdata>
</div>