<div class="two-column-layout">

  <div class="left-column">
    <div>
      <img src='assets/logo/carecentral.svg' alt="Login" class="login-image" />
    </div>
    <div class="text-xl font-medium">
      Login to your account
    </div>
    <div>
      <form [formGroup]="loginForm" class="example-form" (ngSubmit)="onLogin()">
        <span class="self-start font-medium">Username</span>
        <input matInput formControlName="username" type="username" class="example-input" />
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error-message">
          Username is required.
        </div>
        <span class="self-start font-medium">Password</span>
        <div class="visibility-container">
          <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'" class="example-input" />
          <button class="visibility-toggle" type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword" tabindex="-1">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error-message">
          Password is required.
        </div>
        <div>
          <a routerLink="/forgot-password"  class="self-start text-sm underline">
            I forgot my password
          </a>
        </div>
        <button mat-stroked-button color="blue" [disabled]="isLoading" class="login-button">
          <span *ngIf="!isLoading">Log In</span>
          <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
        </button>
      </form>
      <div class="action-items">
        <mat-card-actions>
          <mat-card-subtitle>Access requires an account</mat-card-subtitle>
          <a mat-button routerLink="/sign-up" class="register">Request an Account</a>
        </mat-card-actions>
      </div>
    </div>
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <div>
      <img src="assets/Images/hero-logo.svg" alt="hero" class="hero-image" />
    </div>
  </div>
</div>

