<div class="m-6 p-6 bg-white rounded-2xl shadow-lg space-y-8">
  <div class="max-w-6xl mx-auto">

    <!-- Personal Information -->
    <div>
      <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Doctor Information</h2>

      <!-- Go Back Button -->
      <button (click)="goBack()" class="flex items-center gap-2 px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-700 text-sm font-medium rounded-lg shadow-sm mb-5">
        ← Go Back
      </button>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">First Name</p>
          <p class="font-medium text-gray-700">{{ personalInfo.firstName }}</p>
        </div>
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Middle Name</p>
          <p class="font-medium text-gray-700">{{ personalInfo.middleName }}</p>
        </div>
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Last Name</p>
          <p class="font-medium text-gray-700">{{ personalInfo.lastName }}</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Date of Birth</p>
          <p class="font-medium text-gray-700">{{ personalInfo.dateOfBirth }}</p>
        </div>
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Gender</p>
          <p class="font-medium text-gray-700">{{ personalInfo.gender }}</p>
        </div>
      </div>
    </div>

    <!-- Contact Information -->
    <div class="mt-10">
      <h2 class="text-xl font-semibold text-gray-700 border-b pb-2 mb-4">Contact Information</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Contact Number</p>
          <p class="font-medium text-gray-700">{{ personalInfo.contactNumber }}</p>
        </div>
        <div class="border rounded-lg p-3">
          <p class="text-xs text-gray-500">Email</p>
          <p class="font-medium text-gray-700 break-words">{{ personalInfo.email }}</p>
        </div>
        <div class="border rounded-lg p-3 md:col-span-2">
          <p class="text-xs text-gray-500">Address</p>
          <p class="font-medium text-gray-700 break-words">{{ personalInfo.address }}</p>
        </div>
      </div>
    </div>


  </div>
</div>
