<h2 mat-dialog-title class="title">Edit Profile</h2>
<mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="profile.name" name="name" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="profile.email" name="email" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="profile.phone" name="phone" />
    </mat-form-field>
   
    <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="profile.address" name="phone" />
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Position</mat-label>
        <input matInput [(ngModel)]="profile.position" name="phone" />
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="save()">Save</button>
</mat-dialog-actions>
