<!-- Iventory Table -->
<div class='p-6 w-full rounded-lg overflow-hidden'>
  <div class='bg-white shadow-lg rounded-lg overflow-hidden'>
    <!-- Card Header -->
    <div class='px-6 py-4 border-b'>
      <div class='flex items-center justify-between md:flex-row'>
        <div class='max-w-lg'>
          <button
            class='add-button text-white px-4 py-2 rounded mb-4'
            [routerLink]="['/common/inventory/add']">
            <i class='fa-solid fa-plus'></i> Add Product
          </button>
        </div>
        <!-- Search Bar -->
        <div class='relative w-64'>
          <input
            type='text'
            placeholder='Search...'
            class='px-4 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            [(ngModel)]='searchTerm'
            (keyup)='applyFilter()'
          />
          <svg xmlns='http://www.w3.org/2000/svg' class='absolute right-3 top-2.5 text-gray-400' width='16' height='16'
               fill='none' viewBox='0 0 24 24' stroke='currentColor'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                  d='M11 4a7 7 0 110 14 7 7 0 010-14zm0 0v3m0 4v6'></path>
          </svg>
        </div>
      </div>
    </div>
    <!-- Inventory Table -->
    <div class=''>
      <table mat-table [dataSource]='dataSource' class='min-w-full table-auto border-collapse border border-gray-300'>
        <ng-container matColumnDef='inventoryId'>
          <th *matHeaderCellDef class='px-4 py-2 border'>ID</th>
          <td *matCellDef='let element'>
            {{ element.inventoryId }}
          </td>
        </ng-container>
        <ng-container matColumnDef='inventoryName'>
          <th *matHeaderCellDef class='px-4 py-2 border'>Name</th>
          <td *matCellDef='let element'>{{ element.inventoryName }}</td>
        </ng-container>
        <ng-container matColumnDef='quantity'>
          <th class='px-4 py-2 border'>Quantity</th>
          <td *matCellDef='let element'>{{ element.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef='price'>
          <th *matHeaderCellDef class='px-4 py-2 border'>Price</th>
          <td *matCellDef='let element'>{{ element.price | currency: 'PHP' }}</td>
        </ng-container>
        <ng-container matColumnDef='expirationDate'>
          <th *matHeaderCellDef class='px-4 py-2 border'>Expiration Date</th>
          <td *matCellDef='let element'>{{ element.expirationDate | date: 'MM/dd/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef='actions'>
          <th *matHeaderCellDef class='px-4 py-2 border'>Actions</th>
          <td *matCellDef='let element'>
            <button class='text-blue-500 p-1 rounded'
                    [routerLink]="['/common/inventory/edit', element.inventoryId]">
              <mat-icon>edit_outlined</mat-icon>
            </button>
            <button
              class='text-red-500 p-1 rounded'
              (click)='deleteInventory(element.inventoryId)'>
              <mat-icon>delete_outlined</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns' class='bg-gray-50'></tr>
        <tr mat-row *matRowDef='let row; columns: displayedColumns;' class='hover:bg-gray-50 transition'></tr>
      </table>
      <mat-paginator [pageSizeOptions]='[5, 10, 20]'></mat-paginator>
    </div>
  </div>
</div>
