/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .mat-mdc-snack-bar-container {
    &.snackbar-success {
      --mdc-snackbar-container-color: #4caf50;
      --mat-mdc-snack-bar-button-color: white;
      --mdc-snackbar-supporting-text-color: white;
    }

    &.snackbar-error {
      --mdc-snackbar-container-color: red;
      --mat-mdc-snack-bar-button-color: white;
      --mdc-snackbar-supporting-text-color: white;
    }
  }

  .add-button {
    background-color: #229111;
    border-radius: 20px;
  }
  .add-button:hover {
    background-color: #27CD0D;
  }

  .spinner ::ng-deep circle {
    stroke: rgb(233, 224, 225);
    color: rgb(233, 224, 225);
  }












