.dialog-title {
  text-align: center;
  font-weight: bold;
  color: #3f51b5; 
}

.dialog-container {
  overflow-y: hidden;
  
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1px; 
  padding: 20px; 
}

.full-width {
  width: 100%;
}

.dialog-actions {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  gap: 10px; 
  padding: 5px;
  margin-right: 14px;
}

.mat-mdc-option.mdc-list-item {
  background-color: #2f2fa3 !important;
  color: #d11515;  
}

.cancel-button {
  color: #070404; 
}

button[mat-raised-button] {
  font-weight: bold;
  color: rgb(243, 240, 243);
  background-color: rgb(86, 116, 250);
}

.spinner ::ng-deep circle {
  stroke: #ffffff;
  stroke-width: 20px;
}

